<div class="container-fluid">

  <div class="row mt-md-3 mt-lg-4">
    <div class="col">
      <%= render "navbar" %>
    </div>
  </div>

  <div class="row">

    <!-- 1st column -->
    <div class="col-md-3">
      <%= render "brand" %>
    </div>

    <!-- 2nd column -->
    <div class="col-md-9 small">

      <div class="row">
        <div class="col-3">
        </div>

        <div class="col-3">
        </div>

        <div class="col-3">
        </div>

        <div class="col-3">
        </div>
      </div>

    </div>

  </div>
</div>

  
