<div class="container-fluid">

  <div class="row mt-md-3 mt-lg-4">
    <div class="col">
      <%= render "breadcrumb" %>
    </div>
  </div>

<nav>
  <ul class="navbar justify-content-center">

		<div class="btn-group btn-group-toggle" data-toggle="buttons">

			<label class="btn btn-secondary active">
				<input type="radio" name="options" id="" autocomplete="off" checked> County
			</label>

			<label class="btn btn-secondary">
				<input type="radio" name="options" id="" autocomplete="off"> City
			</label>
			<label class="btn btn-secondary">
				<input type="radio" name="options" id="" autocomplete="off"> Type
			</label>
			<label class="btn btn-secondary">
				<input type="radio" name="options" id="" autocomplete="off"> Category
			</label>
			<label class="btn btn-secondary">
				<input type="radio" name="options" id="" autocomplete="off"> Content
			</label>
			<label class="btn btn-secondary">
				<input type="radio" name="options" id="" autocomplete="off"> Map
			</label>
			<label class="btn btn-secondary">
				<input type="radio" name="options" id="" autocomplete="off"> Photos
			</label>
			<label class="btn btn-secondary">
				<input type="radio" name="options" id="" autocomplete="off"> Preview
			</label>

		</div>

  </ul>
</nav>

</div>
