<h1 class="display-4 mb-4 text-center">Find Your Location:</h1>
<div class="text-center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.6115286180047!2d-121.91818468519044!3d37.46989307981604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc61c89f7dbf5%3A0xadd4d6fec767fe17!2s48482%20Arkansas%20Pl%2C%20Fremont%2C%20CA%2094539!5e0!3m2!1sen!2sus!4v1568831985578!5m2!1sen!2sus" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<%= render "/post/continue-button", step: "photos" %>
