<nav class="navbar navbar-light bg-light mb-4 p-4">

  <ol class="nav">
    <li class="breadcrumb-item">
      <%= link_to "Home", county_path(County.first) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Category Name"%>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Subcategory Name" %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Item Title</li>
  </ol>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "Create a Post", new_post_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <div class="nav-link disabled">|</div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>

</nav>
