<h1 class="display-4 text-center mb-4">Choose your city:</h1>

<div class="col offset-lg-4">
  <% City.all.each do |city| %>
    <div class="form-check mb-2">
      <%= radio_button(:post, :city_id, city.id, class: "form-check-input") %>
      <label class="form-check-label" for="exampleRadios1">
        <%= city.name %>
      </label>
    </div>
  <% end %>

</div>

<div class="row text-center">
  <div class="col">
    <a class="btn btn-outline-primary btn-lg" href="#prev">
      Prev
    </a>
  </div>
  <div class="col">
    <a class="btn btn-outline-primary btn-lg" href="#next">
      Next
    </a>
  </div>
</div>
