<h1 class="display-4 text-center m-4">Choose your photos:</h1>

<div class="text-center">
  <%= form.file_field :photos, multiple: :true %>
  <% @post.photos.attach(params[:photos]) %>
  <img src="" alt="..." class="img-thumbnail rounded" style="width: 200px">
</div>
