<h1 class="display-4 text-center m-4">Choose your photos:</h1>

<div class="text-center">
  <%= form.file_field :photos, multiple: :true %>
  <% @post.photos.attach(params[:photos]) %>
  <img src="" alt="..." class="img-thumbnail rounded" style="width: 200px">
</div>

<div class="d-none d-md-block d-lg-block d-xl-block">
  <% 2.times do %>
    <div class="row mb-3 text-center">
      <div class="col-2 offset-3">
        <img src="/DSC_0068.JPG" alt="..." class="img-thumbnail rounded" style="width: 200px">
      </div>
      <div class="col-2">
        <img src="/DSC_0068.JPG" alt="..." class="img-thumbnail rounded" style="width: 200px">
      </div>
      <div class="col-2">
        <img src="/DSC_0068.JPG" alt="..." class="img-thumbnail rounded" style="width: 200px">
      </div>
    </div>
  <% end %>
</div>

<div class="d-block d-md-none">
  <% 3.times do %>
    <div class="row mb-3 text-center">
      <div class="col-6">
        <img src="/DSC_0068.JPG" alt="..." class="img-thumbnail rounded" style="width: 200px">
      </div>
      <div class="col-6">
        <img src="/DSC_0068.JPG" alt="..." class="img-thumbnail rounded" style="width: 200px">
      </div>
    </div>
  <% end %>
</div>


