<h1 class="display-4 text-center">Preview</h1>

<div class="row mt-3 mb-4">
	<div class="col text-center">
  <%= form.submit("Submit", class: "btn btn-success btn-lg") %>
	</div>
</div>

<div class="row text-center">
  <div class="col">
    <a class="btn btn-outline-primary btn-lg" href="#prev">
      Prev
    </a>
  </div>
  <div class="col">
    <a class="btn btn-outline-primary btn-lg" href="#next">
      Next
    </a>
  </div>
</div>
