<h1 class="display-4 text-center">Preview</h1>

<div class="row mt-3 mb-4">
	<div class="col offset-8">
  <a href="/" class="btn btn-success btn-lg" role="button" aria-pressed="true">Submit</a>
	</div>
</div>
