<h1 class="display-4 text-center mb-4">Choose the subcategory:</h1>

<div class="col offset-lg-4">
  <% Subcategory.all.each do |subcategory| %>
    <div class="form-check mb-2">
      <%= form.radio_button :subcategory_id, subcategory.id, class: "form-check-input" %>
      <label class="form-check-label" for="exampleRadios1">
        <%= subcategory.name %>
      </label>
    </div>
  <% end %>

</div>

<div class="row text-center">
  <div class="col">
    <a class="btn btn-outline-primary btn-lg" href="#prev">
      Prev
    </a>
  </div>
  <div class="col">
    <a class="btn btn-outline-primary btn-lg" href="#next">
      Next
    </a>
  </div>
</div>
