<nav class="navbar navbar-light bg-light mb-4">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-transparent mt-3 p-1">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/category/antiques">Antiques</a></li>
			<li class="breadcrumb-item active" aria-current="page">Item</li>
		</ol>
	</nav>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" href="#">Create A Post</a>
			</li>
			<li class="nav-item">
				<div class="nav-link disabled" href="#">|</div>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#">Link</a>
			</li>
		</ul>
</nav>
