<div class="card">
  <img src="/assets/images/DSC_0002.JPG" class="card-img-top" alt="product-image">
  <div class="card-body">
    <h5 class="card-title text-truncate"><%= Faker::Commerce.product_name %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
