<div class="card mb-4">
  <img src="/DSC_0068.JPG" class="card-img-top" alt="product-image">
  <div class="card-body">
    <h5 class="card-title"><%= Faker::Commerce.product_name %></h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card-footer">
    <a href="/category/1/subcategory/2/item" class="card-link">See Item</a>
  </div>
</div>
