<div class="card mb-4">
  <img src="/DSC_0068.JPG" class="card-img-top" alt="product-image">
  <div class="card-body">
    <h1 class="card-title">$<%= post.price_cents.to_s %></h1>
    <h2 class="lead"><%= post.title %></h2>
    <p class="card-text text-truncate"><%= post.description %></p>
  </div>
  <div class="card-footer">
    <%= link_to "See Item", post_path(post), class: "card-link" %>
  </div>
</div>
