<div class="list-group mb-2">
  <a href="#" class="list-group-item list-group-item-action bg-light">
    Cities
  </a>

  <% 15.times do %>
    <a href="#" class="list-group-item text-muted list-group-item-action overflow-hidden">
      <%= Faker::Address.city %>
    </a>
  <% end %>
</div>
