<p class="mt-4">
  <button type="button" class="btn btn-primary btn-block">Create Posting</button>
</p>

<p>
  <button type="button" class="btn btn-info btn-block">My Account</button>
</p>

<form>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="search samslist">
    </div>
</form>
