<p>
  <button type="button" class="btn btn-primary">Create Posting</button>
</p>
<p>
  <button type="button" class="btn btn-primary">My Account</button>
</p>
<form>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="search samslist">
    </div>
</form>
