<div class="list-group mb-2">
  <a href="#" class="list-group-item list-group-item-action active">
    <%= Faker::Commerce.department %>
  </a>

  <% items.times do %>
    <a href="#" class="list-group-item list-group-item-action">
      <%= Faker::Commerce.product_name %>
    </a>
  <% end %>
</div>
