<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">

  <% if @county %>
    <%= link_to @county.name, "/counties/#{@county.id}", :class => "navbar-brand" %>
  <% else %>
    <%= link_to County.first.name, "/counties/1", :class => "navbar-brand" %>
  <% end %>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">

  <% if @county %>
    <% @cities = City.where("county_id=#{@county.id}") %>
  <% else %>
    <% @cities = City.where("county_id=1") %>
  <% end %>

  <ul class="navbar-nav">
    <% @cities.each do |city| %>
      <% if active_city(city) %>
        <%= link_to city.name, city, :class => "nav-link strong active" %>
      <% else %>
        <%= link_to city.name, city, :class => "nav-link small" %>
      <% end %>
    <% end %>
  </ul>

</div>

</nav>
