<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">

<%= link_to @county.name, @county, :class => "navbar-brand" %>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">

  <ul class="navbar-nav">
    <% @county.cities.each do |city| %>
      <li>
        <%= link_to city.name, city, :class => "nav-link #{active_city(city)}" %>
      </li>
    <% end %>
  </ul>

</div>

</nav>
